<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QIIMP Error</title>
    <link href="{{ static_url("third-party/favicon.ico") }}" rel="icon" type="image/x-icon" />
    <link href="{{ static_url("third-party/microbiome/css/bootstrap.css") }}" rel="stylesheet" />
</head>
<body>
    <div class="container" id="container">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">
                <h1>QIIMP Error</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                QIIMP has encountered an error. Apologies for the inconvenience.
                <p>
                    Please take a moment to click <a href="{{ mailto_url }}">here</a> to email this error to the developer so we can get it fixed!
                </p>
                <p>
                    <a href="{{ wiz_state.protocol }}://{{ wiz_state.main_url }}">Return to QIIMP</a>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <pre>
{{ error_trace }}
                </pre>
            </div>
        </div>
    </div>
</body>
</html>