<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metadata Template Download</title>
    <link href="{{ static_url("third-party/favicon.ico") }}" rel="icon" type="image/x-icon" />
    <link href="{{ static_url("third-party/microbiome/css/bootstrap.css") }}" rel="stylesheet" />
</head>
<body>
    <div class="container" id="container">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">
                <h1>QIIMP Download</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <strong>Download your <a href="{{ static_url(template_file_partial_path) }}">customized metadata template spreadsheet</a> now!</strong>
                <br />
                <br />
                {% raw wiz_state.TUTORIAL_BLURB %}
                <br />
                <br />
                To make another metadata template, click <a href="http://{{ wiz_state.main_url }}">here</a>.
            </div>
        </div>
    </div>
</body>
</html>